
#table1 td,tr, th {
    padding: 10px;
    text-align: center;
    border: 3px solid black;
}
body{width: 1000px;
margin: auto;
background: darkgray;}

.all
{
    display: grid;
    grid-template-rows: 100 auto 50;
    }

header 
{
    background-color: #222;
   display: flex;
   align-items: center;
   justify-content:space-between ;
   padding: 0 20px;
}
header img
{
    height: 100px;
}
header nav a
{
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
   
}
header nav a:hover
{
    transition: all  500ms;
    background-color:darkgray ;

}
.list
{
    display: grid;
    grid-template-columns: auto auto;

}

main article ol
{
    background-color :#222;
    color: white;
}
.sec{display: grid;
grid-template-rows:auto auto ;}

.parag{display: flex;
 align-content: space-between;}
 .one
 {  display:grid;
    grid-template-columns: auto auto auto;
     padding: 10px  20px;
 }